/*----------responsive for Laptop Large --------*/
@media screen and (max-width: 1440px) {
    header > nav {
        right: 50px;
        top: -8px;
    }

    /*----------Home Styles--------*/
    #home > aside {
        position: absolute;
        padding-left: 136px;
        padding-top: 177px;
        font-family: 'Poppins', sans-serif;
    }

    #home > section {
        padding-top: 88px;
        padding-left: 1000px;
    }

    /*----------about--------*/
    #about > article {
        padding-left: 637px;
    }

    /*----------education--------*/
    #education > h1 {
        margin-top: 101px;
    }

    #education > div {
        margin-top: 0px;
        margin-left: 700px;
    }

    /*----------Skill Styles--------*/
    #skills > h1 {
        margin-top: -144px;
    }

    #skills > section {
        margin-left: 74px;

    }

    /*----------Projects Styles--------*/

    /*----------Assigment-------------*/

    /*----------footer Styles--------*/

}


/*----------responsive for Laptop --------*/
@media screen and (max-width: 1024px) {

    header {
        height: 51px;
        font-size: 15px;
    }

    header > div {
        font-size: 15px;
    }

    header > nav > ul > li {
        font-size: 13px;
    }


    /*----------Home Styles--------*/
    .home {
        height: 531px;
        width: 100%;
        bottom: 22px;
    }

    #home > aside {
        padding-left: 85px;
        padding-top: 107px;
    }

    #home > section {
        padding-top: 68px;
    }

    .home img {
        width: 480px;
        height: 430px;
    }

    #home > aside > h1 {
        font-size: 50px;
        }

    #home > aside > h2 {
        font-size: 40px;
         }

    #home > aside > h3 {
        font-size: 25px;
        }

    #home > aside > button {
        font-size: 20px;
        margin-top: 30px;
    }

    #home > aside > nav > i:nth-child(4) {
        font-size: 35px;
    }

    /*----------about--------*/
    #about > h1 {
        font-size: 40px;
    }

    #about > img {
        padding-left: 28px;
        padding-top: 31px;
        width: 350px;
        height: 350px;
    }

    #about > article {
        padding-left: 435px;
        padding-top: 3px;
        /*font-family: 'Roboto Thin', sans-serif;*/
    }

    #about > article > ol > h5 {
        font-size: 13px;
        margin-bottom: 0.5rem;
    }

    #about > article > ol {
        margin-top: 50px;
        height: 165px;
        width: 360px;
        border-radius: 40px;
    }

    #about > article > h2 {
        font-size: 27px;
        margin-bottom: 0px;
    }

    #about > article > h3 {
        font-size: 21px;
        margin-top: 0px;
    }

    #about > article > p {
        width: 587px;
        height: 61px;
        font-size: 18px;
    }

    /*----------education--------*/
    #education > h1 {
        font-size: 40px;
        margin-top: 58px;
    }

    #education > div {
        margin-top: 0px;
        margin-left: 700px;
    }

    #education > section {
        height: 100vh;
        width: 98vw;
    }

    #education > section > div:nth-child(1) { /*Edu wala meda thiyana ira*/
        width: 3px;
        height: 550px;
        left: 50%;
        top: 34px;
    }

    #education > section > div:nth-child(1) > section {
        width: 40px;
        height: 600px;
        left: -18px;
    }

    #education > section > div:nth-child(1) > section > div { /* Rawum 3*/
        width: 12px;
        height: 12px;
        border-radius: 50%;
    }

    #education > section > div:nth-child(2) {
        position: absolute;
        margin-top: 230px;
        left: 50%;
    }

    #education > section > div:nth-child(3) {
        position: absolute;
        margin-top: 106px;
        left: 0%;
    }

    #education > section > div:nth-child(4) {
        position: absolute;
        margin-top: -95px;
        left: 50%;
    }

    #edu1 > img {
        width: 550px;
        height: 550px;
    }

    #edu2 > img {
        width: 550px;
        height: 550px;
    }

    #edu3 > img {
        width: 550px;
        height: 550px;
    }

    .education section img:hover {
        transform: scale(1.05);
    }

    /*----------Skill Styles--------*/
    #skills > h1 {
        font-size: 40px;
        margin-top: 0;
    }

    #skills > div {
        margin-left: 800px;
        width: 3px;
        height: 600px;
    }

    #skills > section {
        column-gap: 30px;
        margin-top: 60px;

    }
    #skills > section > aside {
        height: 480px;
        width: 470px;
        border-radius: 10%;
        left: -29px;
    }

    #skills > section > aside > h2 {
        margin-bottom: 0;
        font-size: 25px;
        margin-top: 35px;

    }

    #skills > section > aside > section {
        height: 500px;
        width: 420px;
        border-radius: 10%;

    }

    #technologies {
        top: 50px;
        left: 35px;
    }

    #technologies > div > h3 {
        font-size: 15px;
        padding-right: 50px;
    }

    #softwares {
        position: relative;
        top: 60px;
        left: 15px;
        margin: auto;
        display: grid;
        /*border: 2px solid red;*/
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(4, 1fr);
        gap: 6px;
    }

    #softwares > div > h3 {
        font-size: 15px;
    }


    /*----------Projects Styles--------*/
    #projects > h1 {
        font-size: 45px;
        margin-top: 110px;
    }

    .projects section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 6px;
        margin-left: 58px;
        margin-right: 100px;
        margin-top: 50px;
    }

    .projects section img {
        width: 300px;
        height: 300px;
    }

    .projects h5 {
        font-size: 15px;
    }

    /*----------Assigment-------------*/
    .assignment h1 {
        font-size: 40px;
        margin-top: 40px;
    }

    .assignment img {
        width: 100px;
        height: 100px;
    }

    .assignment h2 {
        margin-top: 35px;
        margin-bottom: 40px;
        font-size: 30px;

    }

    .assignment h3 {
        margin-left: 20px;
        font-size: 22px;
    }


    /*----------Contact Styles--------*/
    #contact > h1 {
        font-size: 40px;
        margin-top: 60px;
    }

    #details {
        height: 455px;
        width: 954px;
        margin-left: 39px;
    }
}

/*----------responsive for Tablet --------*/
@media screen and (max-width: 768px) {
    header {
        height: 41px;
        z-index: 20;
    }

    header > div {
        padding: -20px;
        padding-left: 39px;
        font-size: 12px;
    }

    header > nav > ul > li {
        padding: 10px;
        font-size: 11px;
    }

    /*----------Home Styles--------*/
    .home {
        margin-top: 0;
        height: 443px;
        width: 100%;
        bottom: 22px;
    }

    #home > aside {
        padding-left: 57px;
        padding-top: 77px;
    }

    #home > section {
        padding-top: 59px;
        padding-left: 769px;
    }

    .home img {
        width: 349px;
        height: 320px;
    }

    #home > aside > h1 {
        font-size: 40px;
        color: #f1f2f6;

    }

    #home > aside > h2 {
        font-size: 30px;
        margin-bottom: 0;
        color: #f1f2f6;
    }

    #home > aside > h3 {
        font-size: 20px;
        margin-top: 0px;
        color: #f1f2f6;
    }

    #home > aside > button {
        padding: 12px 82px;
        border-radius: 16px;
        font-size: 18px;
        margin-top: 30px;

    }

    /*----------about--------*/
    #about > h1 {
        margin-bottom: 0;
        font-size: 35px;
        margin-top: 0;
    }

    #about > img {
        padding-left: 28px;
        padding-top: 31px;
        width: 300px;
        height: 300px;
    }

    #about > article {
        padding-left: 361px;
        padding-top: 3px;
        /*font-family: 'Roboto Thin', sans-serif;*/
    }

    #about > article > ol > h5 {
        font-size: 11px;
        margin-bottom: 0.5rem;
    }

    #about > article > ol {
        margin-top: 50px;
        height: 144px;
        width: 278px;
        border-radius: 40px;
    }

    #about > article > h2 {
        font-size: 25px;
        margin-bottom: 0px;
    }

    #about > article > h3 {
        font-size: 20px;
        margin-top: 0px;
    }

    #about > article > p {
        width: 408px;
        height: 61px;
        font-size: 15px;
    }

    /*----------education--------*/
    #education > h1 {
        font-size: 35px;
        margin-top: 58px;
    }

    #education > div {
        margin-top: 0;
        margin-left: 700px;
    }

    #education > section {
        height: 84vh;
        width: 98vw;
    }

    #education > section > div:nth-child(1) { /*Edu wala meda thiyana ira*/
        width: 3px;
        height: 500px;
        left: 50%;
        top: 34px;
    }

    #education > section > div:nth-child(1) > section {
        width: 40px;
        height: 491px;
        left: -18px;
    }

    #education > section > div:nth-child(1) > section > div { /* Rawum 3*/
        width: 12px;
        height: 12px;
        border-radius: 50%;
    }

    #education > section > div:nth-child(2) {
        position: absolute;
        margin-top: 202px;
        left: 48%;
    }

    #education > section > div:nth-child(3) {
        position: absolute;
        margin-top: 106px;
        left: -32px;
    }

    #education > section > div:nth-child(4) {
        position: absolute;
        margin-top: -62px;
        left: 48%;
    }

    #edu1 > img {
        width: 450px;
        height: 450px;
    }

    #edu2 > img {
        width:450px;
        height: 450px;
    }

    #edu3 > img {
        width: 450px;
        height: 450px;
    }


    /*----------Skill Styles--------*/
    #skills > h1 {
        font-size: 40px;
        margin-top: 0;
    }

    #skills > div {
        margin-left: 800px;
        width: 3px;
        height: 600px;
    }

    #skills > section {
        column-gap: 30px;
        margin-top: 60px;
    }
    .skills img {
        width: 75px;
        height: 70px;
    }
    #skills > section > aside {
        height: 359px;
        width:338px;
        border-radius: 10%;
        left: 10px;
    }

    #skills > section > aside > h2 {
        font-size: 25px;
        margin-top: 35px;

    }

    #skills > section > aside > section {
        height: 359px;
        width: 338px;
        border-radius: 10%;

    }

    #technologies {
        position: relative;
        top: 50px;
        left: 27px;
        margin: auto;
        display: grid;
        /*border: 2px solid red;*/
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
        gap: 3px;
    }

    #technologies > div > h3 {
        font-size: 15px;
        padding-right: 50px;
    }

    #softwares {
        position: relative;
        top: 39px;
        left: 12px;
        margin: auto;
        display: grid;
        /*border: 2px solid red;*/
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(4, 1fr);
        gap: 6px;
    }

    #softwares > div > h3 {
        text-align: center;
        font-family: 'Roboto Thin', sans-serif;
        font-size: 15px;
    }
    /*----------Projects Styles--------*/
    #projects > h1 {
        font-size: 35px;
        margin-top: 110px;
    }

    .projects section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 6px;
        margin-left: 21px;
        margin-right: 100px;
        margin-top: 50px;
    }

    .projects section img {
        width: 240px;
        height: 240px;
    }

    .projects h5 {
        font-size: 12px;
    }

    /*----------Assigment-------------*/
    .assignment h1 {
        font-size: 35px;
        margin-top: 40px;
    }

    .assignment img {
        width: 90px;
        height: 90px;
    }

    .assignment h2 {
        margin-top: 35px;
        margin-bottom: 40px;
        font-size: 25px;

    }

    .assignment h3 {
        margin-left: 20px;
        font-size: 20px;
    }

    #Css {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        /*grid-template-rows:repeat(2,1fr) ;*/
        gap: 25px;
        margin-left: 63px;
        margin-right: 70px;
    }

    #Animation {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 25px;
        margin-left: 63px;
        margin-right: 70px;
    }
    /*----------Contact Styles--------*/
    #contact > h1 {
        font-size: 35px;
        margin-top: 60px;
    }

    #contact > div {
        margin-top: 0;
        margin-left: 700px;
    }

    #details {
        height: 430px;
        width: 730px;
        border-radius: 50px;
        margin-top: 70px;
        margin-left: 18px;
        z-index: 6;
    }
    #details > h3 {
        margin-bottom: 0;
        font-size: 25px;
        margin-top: 35px;
        margin-left: 100px;
    }

    #details > h3:nth-child(2) {
        text-align: left;
        font-family: 'Roboto Thin', sans-serif;
        margin-bottom: 0;
        font-size: 25px;
        margin-top: 35px;
        left: 50%;
    }

    #details > section > address > div {
        top: 86px;
        font-size: 13px;
        margin-top: 31px;
        margin-left: 108px;
        padding-top: 19px;
    }

    #details > section > div {
        height:267px;
        width: 24px;
        left: 34px;
    }

    #details > section > div > div > i {
        font-size: 20px;
        margin-left: 15px;
        margin-top: 13px;
        color: white;
    }

    #details > section > div > div:nth-child(1) > i {
        font-size: 20px;
    }

    #details > form {
        left: 30%;
    }
    .contact__input {
        width: 557px;
    }

    /*----------footer Styles--------*/
    footer > h3 {
        font-size: 20px;
    }

    footer > div > i:nth-child(4) {
        position: relative;
        color: white;
        width: 60px;
        height: 60px;
        border-radius: 100%;
        padding-top: 10px;
        padding-left: 10px;

    }

}

/*----------responsive for mobile Large--------*/
@media screen and (max-width: 425px) {
    header {
        background: rgba(0, 0, 0, 0.73);
        box-shadow: 0px -1px 8px 2px rgb(0, 0, 0);
        position: fixed;
        width: 100%;
        top: 0;
        height: 40px;
        z-index: 20;
        font-family: 'Poppins', sans-serif;
        font-size: 10px;
    }
    header > div {
        padding: -20px;
        padding-left: 7px;
        font-size: 10px;
        color: rgb(241, 242, 246);
        text-shadow: 0.5px 0 #000000, 0 0.5px #000000, 0.5px 0 #000000, 0 0.5px #000000;
        top: -3px;
    }
    header > nav > ul > li {
        padding: 3px;
        color: rgb(255, 255, 255);
        font-size: 9px;
    }
    header > nav {
        right: 2px;
        top: -3px;
    }
    #home img {
        width: 201px;
        height: 163px;
        margin-right: 393px;
    }
    .home {
        margin-top: 0;
        height: 269px;
        width: 564px;
        bottom: 26px;
    }
    #home > aside {
        padding-left: 19px;
        padding-top: 70px;
    }
    #home > aside >h1 {
        font-size: 20px;
        color: #f1f2f6;
    }
    #home > aside >h2 {
        font-size: 15px;
        margin-bottom: 0px;
        color: #f1f2f6;
    }
    #home > aside >h3 {
        font-size: 10px;
        margin-top: 0px;
        color: #f1f2f6;
    }
    #home > section {
        padding-top: 63px;
    }
    #home > aside > button {
        padding: 8px 45px;
        border-radius: 10px;
        font-size: 10px;
        margin-top: 21px;
    }
    /*=======================About=======================*/

    #about > h1 {
        font-size: 20px;
        margin-left: 51px;
        margin-top: -19px;
    }
    #about >img {
        padding-left: 5px;
        padding-top: 30px;
        width: 170px;
        height: 169px;
    }
    #about > article {
        padding-left: 179px;
        padding-top: 24px;
        /* font-family: 'Roboto Thin', sans-serif; */
    }
    #about > article > p {
        width: 197px;
        height: 106px;
        font-size: 9px;
    }
    #about > article > h2 {
        font-size: 15px;
        width: 127px;
    }
    #about > article > h3 {
        font-size: 13px;
        margin-top: 0px;
        width: 300px;
    }
    #about > article > ol {
        margin-top: -37px;
        height: 61px;
        width: 135px;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 3px 5px;
    }
    #about > article > ol> h5 {
        font-size: 7px;
        margin-bottom: -0.5rem;
    }

    /*=======================Education=======================*/

    #education > h1 {
        font-size: 20px;
        margin-left: 51px;
        margin-top: 40px;
    }
    #education > section > div:nth-child(1) {
        width: 2px;
        height: 242px;
        left: 51%;
        top: 54px;
    }
    #edu1 > img {
        width: 245px;
        height: 247px;
    }
    #education > section > div:nth-child(2) {
        margin-top: 148px;
        left: 48%;
    }
    #edu2 > img {
        width: 245px;
        height: 247px;
    }
    #education > section > div:nth-child(3) {
        margin-top: 81px;
        left: -37px;
    }
    #edu3 > img{
        width: 245px;
        height: 247px;
    }
    #education > section > div:nth-child(4) {
        position: absolute;
        margin-top: -2px;
        left: 48%;
    }
    #education > section > div:nth-child(1) > section {
        width: 37px;
        height: 260px;
        left: -18px;
    }
    #education > section > div:nth-child(1) > section > div {
        width: 9px;
        height: 7px;
        border-radius: 47%;
    }
    /*=======================Skill=======================*/

    #skills > h1 {
        font-size: 20px;
        margin-left: 3px;
        margin-top: -266px;
    }
    #skills > section > aside {
        height: 271px;
        width: 335px;
        border-radius: 5%;
        left: 13px;
    }
    #skills > section > aside > h2 {
        font-size: 15px;
        margin-top: 15px;
    }
    .skills img {
        width: 55px;
        height: 46px;
    }
    #skills >section {
        display: flex;
        column-gap: 8px;
        margin-top: 60px;
        margin-left: -5px;
        flex-direction: column;
    }
    #technologies {
        top: 31px;
        left: 12px;
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: repeat(4,1fr);
        gap: 2px;
    }
    #technologies > div > h3 {
        font-size: 10px;
        padding-right: 71px;
    }
    #skills > section > aside >section {
        height: 500px;
        width: 285px;
        border-radius: 10%;
    }
    #softwares {
        top: 20px;
        left: 24px;
    }
    #softwares > div > h3 {
        font-size: 10px;
    }
    /*=======================Project=======================*/

    #projects > h1 {
        font-size: 20px;
        margin-left: 51px;
        margin-top: 31px;
    }
    .projects section img {
        width: 120px;
        height: 120px;
    }
    .projects section {
        gap: 6px;
        margin-left: 1px;
        margin-right: 100px;
        margin-top: 50px;
    }
    .projects h5 {
        font-size: 10px;
    }
    /*=======================Assignment=======================*/

    #assignment > h1 {
        font-size: 20px;
        margin-left: 51px;
        margin-top: -22px;
    }
    .assignment h2 {
        margin-top: 22px;
        margin-bottom: 25px;
        font-size: 18px;
    }
    .assignment img {
        width: 70px;
        height: 70px;
    }
    #Css {
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 14px;
        margin-left: 56px;
        margin-right: 32px;
    }
    .assignment h3 {
        margin-left: 11px;
        font-size: 12px;
    }
    #Animation {
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 14px;
        margin-left: 56px;
        margin-right: 32px;
    }
    #JS {
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 14px;
        margin-left: 56px;
        margin-right: 32px;
    }
    /*=======================Contact=======================*/

    #contact > h1 {
        font-size: 20px;
        margin-left: 51px;
        margin-top: 14px;
    }
    #details {
        height: 550px;
        width: 336px;
        border-radius: 50px;
        margin-top: 27px;
        margin-left: 28px;
    }
    #details > h3:nth-child(2) {
        font-size: 18px;
        margin-top: 35px;
        left: -83px;
    }
    .bubble img {
        width: 53px;
    }
    #details > section > address > div {
        top: 80px;
        font-size: 10px;
        margin-top: -6px;
        margin-left: 63px;
        padding-top: 20px;
    }
    #details >section > div > div:nth-child(1) >i {
        font-size: 15px;
        margin-left: 8px;
        margin-top: 6px;
    }
    #details >section > div > div {
        height: 25px;
        width: 25px;
    }
    #details > section > div {
        height: 171px;
        width: 50px;
        top: 86px;
        left: 14px;
    }
    #details >section > div > div >i {
        font-size: 15px;
        margin-left: 6px;
        margin-top: 6px;
    }
    #details > form {
        left: -64px;
        top: 173px;
    }
    .contact__input {
        width: 351px;
        border-radius: 24px;
        font-size: 19px;
        margin-bottom: 0.5rem;
    }
    #details > h3 {
        font-size: 20px;
        margin-top: 243px;
        margin-left: 100px;

    }
    #submitbtn {
        border-radius: 16px;
        font-size: 20px;
        margin-top: 3px;
    }

    /*=======================Footer=======================*/
    footer > h3 {
        font-size: 18px;
        padding-top: 22px;
        width: 102vw;
    }
    footer > div {
        font-size: 30px;
        margin-right: 120px;
    }
}


/*----------responsive for mobile medium--------*/
@media screen and (max-width: 375px) {
    header {
        background: rgba(0, 0, 0, 0.73);
        box-shadow: 0px -1px 8px 2px rgb(0, 0, 0);
        position: fixed;
        width: 100%;
        top: 0;
        height: 25px;
        z-index: 20;
        font-size: 10px;
    }
    header > div {
        padding: -20px;
        padding-left: 7px;
        font-size: 10px;
        color: rgb(241, 242, 246);
        text-shadow: 0.5px 0 #000000, 0 0.5px #000000, 0.5px 0 #000000, 0 0.5px #000000;
        top: -3px;
    }
    header > nav > ul > li {
        padding: 2px;
        color: rgb(255, 255, 255);
        font-size: 8px;
    }
    header > nav {
        right: 2px;
        top: -3px;
    }
    #home img {
        width: 142px;
        height: 121px;
        margin-right: 456px;
    }
    .home {
        margin-top: 0;
        height: 226px;
        width: 564px;
        bottom: 26px;
    }
    #home > aside {
        padding-left: 19px;
        padding-top: 81px;
    }
    #home > aside >h1 {
        font-size: 17px;
        color: #f1f2f6;
    }
    #home > aside >h2 {
        font-size: 13px;
        margin-bottom: 0px;
        color: #f1f2f6;
    }
    #home > aside >h3 {
        font-size: 8px;
        margin-top: 0px;
        color: #f1f2f6;
    }
    #home > section {
        padding-top: 63px;
    }
    #home > aside > button {
        padding: 3px 21px;
        border-radius: 18px;
        font-size: 8px;
        margin-top: 21px;
    }
    /*=======================About=======================*/

    #about > h1 {
        font-size: 20px;
        margin-left: 51px;
        margin-top: -19px;
    }
    #about >img {
        padding-left: 2px;
        padding-top: 30px;
        width: 150px;
        height: 150px;
    }
    #about > article {
        padding-left: 154px;
        padding-top: 17px;
        /* font-family: 'Roboto Thin', sans-serif; */
    }
    #about > article > p {
        width: 165px;
        height: 106px;
        font-size: 8px;
    }
    #about > article > h2 {
        font-size: 13px;
        width: 127px;
    }
    #about > article > h3 {
        font-size: 10px;
        margin-top: 0px;
        width: 300px;
    }
    #about > article > ol {
        margin-top: -37px;
        height: 61px;
        width: 135px;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 3px 5px;
    }
    #about > article > ol> h5 {
        font-size: 7px;
        margin-bottom: -0.5rem;
    }

    /*=======================Education=======================*/

    #education > h1 {
        font-size: 20px;
        margin-left: 51px;
        margin-top: 40px;
    }
    #education > section > div:nth-child(1) {
        width: 2px;
        height: 242px;
        left: 51%;
        top: 54px;
    }
    #edu1 > img {
        width: 245px;
        height: 247px;
    }
    #education > section > div:nth-child(2) { /*AL*/
        margin-top: 148px;
        left: 45%;
    }
    #edu2 > img {
        width: 245px;
        height: 247px;
    }
    #education > section > div:nth-child(3) { /*OL*/
        margin-top: 81px;
        left: -55px;
    }
    #edu3 > img{
        width: 245px;
        height: 247px;
    }
    #education > section > div:nth-child(4) { /*IJSE*/
        position: absolute;
        margin-top: -2px;
        left: 45%;
    }
    #education > section > div:nth-child(1) > section {
        width: 37px;
        height: 260px;
        left: -18px;
    }
    #education > section > div:nth-child(1) > section > div {
        width: 9px;
        height: 7px;
        border-radius: 47%;
    }
    /*=======================Skill=======================*/

    #skills > h1 {
        font-size: 20px;
        margin-left: 51px;
        margin-top: -262px;
    }
    #skills > section > aside {
        height: 271px;
        width: 335px;
        border-radius: 5%;
        left: 13px;
        margin-top: 22px;
    }
    #skills > section > aside > h2 {
        font-size: 15px;
        margin-top: 15px;
    }
    .skills img {
        width: 55px;
        height: 46px;
    }
    #skills >section {
        display: flex;
        column-gap: 8px;
        margin-top: 38px;
        margin-left: -5px;
        flex-direction: column;
    }
    #technologies {
        top: 31px;
        left: 12px;
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: repeat(4,1fr);
        gap: 2px;
    }
    #technologies > div > h3 {
        font-size: 10px;
        padding-right: 71px;
    }
    #skills > section > aside >section {
        height: 500px;
        width: 280px;
        border-radius: 10%;
    }
    #softwares {
        top: 20px;
        left: 24px;
    }
    #softwares > div > h3 {
        font-size: 10px;
    }
    /*=======================Project=======================*/

    #projects > h1 {
        font-size: 20px;
        margin-left: 51px;
        margin-top: 31px;
    }
    .projects section img {
        width: 120px;
        height: 120px;
    }
    .projects section {
        gap: 6px;
        margin-left: 1px;
        margin-right: 100px;
        margin-top: 50px;
    }
    .projects h5 {
        font-size: 10px;
    }
    /*=======================Assignment=======================*/

    #assignment > h1 {
        font-size: 20px;
        margin-left: 51px;
        margin-top: -22px;
    }
    .assignment h2 {
        margin-top: 22px;
        margin-bottom: 25px;
        font-size: 18px;
    }
    .assignment img {
        width: 70px;
        height: 70px;
    }
    #Css {
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 14px;
        margin-left: 56px;
        margin-right: 32px;
    }
    .assignment h3 {
        margin-left: 11px;
        font-size: 12px;
    }
    #Animation {
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 14px;
        margin-left: 56px;
        margin-right: 32px;
    }
    #JS {
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 14px;
        margin-left: 56px;
        margin-right: 32px;
    }
    /*=======================Contact=======================*/

    #contact > h1 {
        font-size: 20px;
        margin-left: 51px;
        margin-top: 14px;
    }
    #details {
        height: 550px;
        width: 336px;
        border-radius: 50px;
        margin-top: 27px;
        margin-left: 28px;
    }
    #details > h3:nth-child(2) {
        font-size: 18px;
        margin-top: 35px;
        left: -83px;
    }
    .bubble img {
        width: 53px;
    }
    #details > section > address > div {
        top: 80px;
        font-size: 10px;
        margin-top: -6px;
        margin-left: 63px;
        padding-top: 20px;
    }
    #details >section > div > div:nth-child(1) >i {
        font-size: 15px;
        margin-left: 8px;
        margin-top: 6px;
    }
    #details >section > div > div {
        height: 25px;
        width: 25px;
    }
    #details > section > div {
        height: 171px;
        width: 50px;
        top: 86px;
        left: 14px;
    }
    #details >section > div > div >i {
        font-size: 15px;
        margin-left: 6px;
        margin-top: 6px;
    }
    #details > form {
        left: -64px;
        top: 173px;
    }
    .contact__input {
        width: 351px;
        border-radius: 24px;
        font-size: 19px;
        margin-bottom: 0.5rem;
    }
    #details > h3 {
        font-size: 20px;
        margin-top: 243px;
        margin-left: 100px;

    }
    #submitbtn {
        border-radius: 16px;
        font-size: 20px;
        margin-top: 3px;
    }

    /*=======================Footer=======================*/
    footer > h3 {
        font-size: 18px;
        padding-top: 22px;
        width: 102vw;
    }
    footer > div {
        font-size: 30px;
        margin-right: 120px;
    }
}
@media screen and (max-width: 320px){
    header {
        background: rgba(0, 0, 0, 0.73);
        box-shadow: 0px -1px 8px 2px rgb(0, 0, 0);
        position: fixed;
        width: 100%;
        top: 0;
        height: 25px;
        z-index: 20;
        font-size: 10px;
    }
    header > div {
        padding: -20px;
        padding-left: 7px;
        font-size: 10px;
        color: rgb(241, 242, 246);
        text-shadow: 0.5px 0 #000000, 0 0.5px #000000, 0.5px 0 #000000, 0 0.5px #000000;
        top: -3px;
    }
    header > nav > ul > li {
        padding: 2px;
        color: rgb(255, 255, 255);
        font-size: 8px;
    }
    header > nav {
        right: 2px;
        top: -3px;
    }
    #home img {
        width: 142px;
        height: 121px;
        margin-right: 456px;
    }
    .home {
        margin-top: 0;
        height: 226px;
        width: 564px;
        bottom: 26px;
    }
    #home > aside {
        padding-left: 19px;
        padding-top: 81px;
    }
    #home > aside >h1 {
        font-size: 17px;
        color: #f1f2f6;
    }
    #home > aside >h2 {
        font-size: 13px;
        margin-bottom: 0px;
        color: #f1f2f6;
    }
    #home > aside >h3 {
        font-size: 8px;
        margin-top: 0px;
        color: #f1f2f6;
    }
    #home > section {
        padding-top: 63px;
    }
    #home > aside > button {
        padding: 3px 21px;
        border-radius: 18px;
        font-size: 8px;
        margin-top: 21px;
    }
    /*=======================About=======================*/

    #about > h1 {
        font-size: 20px;
        margin-left: 51px;
        margin-top: -19px;
    }
    #about >img {
        padding-left: 2px;
        padding-top: 30px;
        width: 150px;
        height: 150px;
    }
    #about > article {
        padding-left: 154px;
        padding-top: 17px;
        /* font-family: 'Roboto Thin', sans-serif; */
    }
    #about > article > p {
        width: 165px;
        height: 106px;
        font-size: 8px;
    }
    #about > article > h2 {
        font-size: 13px;
        width: 127px;
    }
    #about > article > h3 {
        font-size: 10px;
        margin-top: 0px;
        width: 300px;
    }
    #about > article > ol {
        margin-top: -37px;
        height: 64px;
        width: 123px;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 3px 5px;
    }
    #about > article > ol> h5 {
        font-size: 7px;
        margin-bottom: -0.5rem;
    }

    /*=======================Education=======================*/

    #education > h1 {
        font-size: 20px;
        margin-left: 51px;
        margin-top: 40px;
    }
    #education > section > div:nth-child(1) {
        width: 2px;
        height: 242px;
        left: 51%;
        top: 54px;
    }
    #edu1 > img {
        width: 245px;
        height: 247px;
    }
    #education > section > div:nth-child(2) { /*AL*/
        margin-top: 148px;
        left: 45%;
    }
    #edu2 > img {
        width: 245px;
        height: 247px;
    }
    #education > section > div:nth-child(3) { /*OL*/
        margin-top: 81px;
        left: -55px;
    }
    #edu3 > img{
        width: 245px;
        height: 247px;
    }
    #education > section > div:nth-child(4) { /*IJSE*/
        position: absolute;
        margin-top: -2px;
        left: 45%;
    }
    #education > section > div:nth-child(1) > section {
        width: 37px;
        height: 260px;
        left: -18px;
    }
    #education > section > div:nth-child(1) > section > div {
        width: 9px;
        height: 7px;
        border-radius: 47%;
    }
    /*=======================Skill=======================*/

    #skills > h1 {
        font-size: 20px;
        margin-left: 51px;
        margin-top: -262px;
    }
    #skills > section > aside {
        height: 245px;
        width: 292px;
        border-radius: 5%;
        left: 6px;
        margin-top: 25px;
    }
    #skills > section > aside > h2 {
        font-size: 15px;
        margin-top: 15px;
    }
    .skills img {
        width: 55px;
        height: 46px;
    }
    #skills >section {
        display: flex;
        column-gap: 8px;
        margin-top: 38px;
        margin-left: -5px;
        flex-direction: column;
    }
    #technologies {
        top: 31px;
        left: 12px;
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: repeat(4,1fr);
        gap: 2px;
    }
    #technologies > div > h3 {
        font-size: 10px;
        padding-right: 71px;
    }
    #skills > section > aside >section {
        height: 500px;
        width: 280px;
        border-radius: 10%;
    }
    #softwares {
        top: 20px;
        left: 24px;
    }
    #softwares > div > h3 {
        font-size: 10px;
    }
    /*=======================Project=======================*/

    #projects > h1 {
        font-size: 20px;
        margin-left: 51px;
        margin-top: 31px;
    }
    .projects section img {
        width: 102px;
        height: 110px;
    }
    .projects section {
        gap: 6px;
        margin-left: 1px;
        margin-right: 100px;
        margin-top: 50px;

    }
    .projects h5 {
        font-size: 10px;
    }
    /*=======================Assignment=======================*/

    #assignment > h1 {
        font-size: 20px;
        margin-left: 51px;
        margin-top: -22px;
    }
    .assignment h2 {
        margin-top: 22px;
        margin-bottom: 25px;
        font-size: 18px;
    }
    .assignment img {
        width: 70px;
        height: 70px;
    }
    #Css {
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 14px;
        margin-left: 56px;
        margin-right: 32px;
    }
    .assignment h3 {
        margin-left: 11px;
        font-size: 12px;
    }
    #Animation {
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 14px;
        margin-left: 56px;
        margin-right: 32px;
    }
    #JS {
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 14px;
        margin-left: 56px;
        margin-right: 32px;
    }
    /*=======================Contact=======================*/

    #contact > h1 {
        font-size: 20px;
        margin-left: 51px;
        margin-top: 14px;
    }
    #details {
        height: 550px;
        width: 284px;
        border-radius: 50px;
        margin-top: 27px;
        margin-left: 21px;
    }
    #details > h3:nth-child(2) {
        font-size: 18px;
        margin-top: 35px;
        left: -83px;
    }
    .bubble img {
        width: 53px;
    }
    #details > section > address > div {
        top: 80px;
        font-size: 10px;
        margin-top: -6px;
        margin-left: 63px;
        padding-top: 20px;
    }
    #details >section > div > div:nth-child(1) >i {
        font-size: 15px;
        margin-left: 8px;
        margin-top: 6px;
    }
    #details >section > div > div {
        height: 25px;
        width: 25px;
    }
    #details > section > div {
        height: 171px;
        width: 50px;
        top: 86px;
        left: 14px;
    }
    #details >section > div > div >i {
        font-size: 15px;
        margin-left: 6px;
        margin-top: 6px;
    }
    #details > form {
        left: -64px;
        top: 173px;
    }
    .contact__input {
        width: 351px;
        border-radius: 24px;
        font-size: 19px;
        margin-bottom: 0.5rem;
    }
    #details > h3 {
        font-size: 20px;
        margin-top: 243px;
        margin-left: 100px;

    }
    #submitbtn {
        border-radius: 16px;
        font-size: 20px;
        margin-top: 3px;
    }

    /*=======================Footer=======================*/
    footer > h3 {
        font-size: 18px;
        padding-top: 22px;
        width: 102vw;
    }
    footer > div {
        font-size: 30px;
        margin-right: 120px;
    }
}
/*@media all and (min-width: 375px) and (max-width: 375px) {*/